<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>

    <title>
        Educare
    </title>

    <style>
        * {
            overflow: hidden;
        }
        body {
            text-align: center;
        }
        h1 {
            color: green;
        }
        #canvas{
            border : 5px solid black;
            background-color : black;
            touch-action: none;
        }

    </style>
</head>

<body>

<div class="carousel slide" data-interval="false" id="carouselExampleControls">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p alt="First slide" class="d-block w-100 h-20">1 (One) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">2 (Two)</p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">3 (Three) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">4 (Four) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">5 (Five) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">6 (Six) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">7 (Seven) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">8 (Eight) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">9 (Nine) </p>
        </div>
        <div class="carousel-item">
            <p alt="First slide" class="d-block w-100 h-20">0 (Zero) </p>
        </div>

    </div>
    <a id="c-prev" class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a id="c-next" class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="main-content">

    <canvas height="100px" id="canvas" width="100px"></canvas>
    <form action="" id="form1" method="POST">
        {% csrf_token %}
        <input id="my_hidden" name="canvasData" type="hidden">
        <input id="my_hidden2" name="selectedword" type="hidden">
        <button class="home"><a href="/">Home Page</a></button>
        <div class="main-button">
            <input id="dona" name="submit" type="submit" value="Submit">
            <button id="cleardata" onclick="cleardata()">Clear</button>
        </div>
    </form>
</div>

<div id="datarec">{{ dataval }}</div>
<div id="datacc">{{ accuracy }}</div>
{% comment %}
<script src="index.js"></script>
{% endcomment %}
</body>
<script> 

    $(document).on("click", "#dona", function(e){
    //e.preventDefault();
    var canvas = document.getElementById('canvas'); 
    document.getElementById('my_hidden').value = canvas.toDataURL('image/jpeg');
    document.getElementById('my_hidden2').value = document.querySelector('.active p').innerHTML[0];
    link.setAttribute('href', canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream"));
    document.forms["form1"].submit(); 
    });

    $(document).on("click", "#cleardata", function(e){
      e.preventDefault();
      document.getElementById("datarec").innerHTML = "";
      document.getElementById("datacc").innerHTML = "";
      });

    $('#carouselExampleControls').on('slid.bs.carousel', function () {
      var currentSlide = $('#carouselExampleControls div.active').index();
      sessionStorage.setItem('lastSlide', currentSlide);   
      });
      if(sessionStorage.lastSlide){
        $("#carouselExampleControls").carousel(sessionStorage.lastSlide*1);
      }

</script>

<script>
      // wait for the content of the window element
        // to load, then performs the operations.
        // This is considered best practice.
        window.addEventListener('load', ()=>{
                
            resize(); // Resizes the canvas once the window loads
            document.addEventListener('pointerdown', startPainting);
            document.addEventListener('pointerup', stopPainting);
            document.addEventListener('pointermove', sketch);
            window.addEventListener('resize', resize);
        });
            
        const canvas = document.querySelector('#canvas');

        // Context for the canvas for 2 dimensional operations
        const ctx = canvas.getContext('2d');
        ctx.beginPath();
        ctx.rect(20, 20, 150, 100);
        ctx.fillStyle = "green";
        ctx.fill();

        function resize(){
        ctx.canvas.width = window.innerWidth/2.5;
        ctx.canvas.height = window.innerHeight/2;
        }

        // Stores the initial position of the cursor
        let coord = {x:0 , y:0};

        // This is the flag that we are going to use to
        // trigger drawing
        let paint = false;
            
        // Updates the coordianates of the cursor when
        // an event e is triggered to the coordinates where
        // the said event is triggered.
        function getPosition(event){
        coord.x = event.clientX - canvas.offsetLeft;
        coord.y = event.clientY - canvas.offsetTop;
        }

        // The following functions toggle the flag to start
        // and stop drawing
        function startPainting(event){
        paint = true;
        getPosition(event);
        }
        function stopPainting(){
        paint = false;
        }
            
        function sketch(event){
        if (!paint) return;
        ctx.beginPath();
            
        ctx.lineWidth = 10;

        // Sets the end of the lines drawn
        // to a round shape.
        ctx.lineCap = 'round';
            
        ctx.strokeStyle = 'white';
            
        // The cursor to start drawing
        // moves to this coordinate
        ctx.moveTo(coord.x, coord.y);

        // The position of the cursor
        // gets updated as we move the
        // mouse around.
        getPosition(event);

        // A line is traced from start
        // coordinate to this coordinate
        ctx.lineTo(coord.x , coord.y);
            
        // Draws the line.
        ctx.stroke();
        }
</script>
</html>
